<!DOCTYPE html>
<html>


<header class="nav-link active text-center">
    <h1>{{title}}</h1>
<div class="header-links ">
    <a href="/" class="btn btn-primary nav-link ">Weather</a>
    <a href="/about" class="btn btn-primary nav-link">About</a>
    <a href="/help" class="btn btn-primary nav-link">Help</a>
    </div>
</header>


</html>